<a href="https://colab.research.google.com/github/luizcarlos2103/py/blob/main/Teste1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classes

In [ ]:
from time import sleep
class Pessoa(object):
  def __init__(self,nome : str,idade : int,altura: int, documento : str):
    self.nome = nome
    self.idade = idade
    self.altura = altura
    self.documento = documento
  def __str__(self) -> str:
    return f' Nome: {self.nome} /n Idade: {self.idade}/n Altura: {self.altura}/n Documento: {self.documento}'

In [ ]:
from time import sleep
class Pessoa(object):
  def __init__(self,nome:str,idade:int,documento:str):
    self.nome = nome
    self.idade = idade
    self.documento = documento
    self.muda_Idade()
  def dormir(self, horas:int)->None:
    for hora in range(1,horas+1):
      print(f'Dormindo por {hora} horas')
      sleep(1)
  def muda_Idade(self):
    self.idade += 1

  def falar(self, texto:str) -> None:
    print(texto)
  def __str__(self) -> str:
    return f' Nome: {self.nome} \n Idade: {self.idade} anos \n Documento:{self.documento}'

In [ ]:
luiz = Pessoa("Luiz Carlos",31,"MG13353530")
luiz.falar("luiz")

luiz

In [ ]:
score_credito = {"MG13353530":980,"3":900}

print(score_credito[luiz.documento])

980

In [ ]:
luiz.dormir(5)

Dormindo por 1 horas
Dormindo por 2 horas
Dormindo por 3 horas
Dormindo por 4 horas
Dormindo por 5 horas

In [ ]:
class ArquivoCSV(object):

  def __init__(self,arquivo : str):
    self.arquivo = arquivo
    self.conteudo = self._extrair_conteudo()
    print(self.conteudo)
    ##self.colunas = self._nome_das_colunas()

  def _extrair_conteudo(self):
    with open(file = self.arquivo,mode="r",encoding="utf8") as of:
      conteudo = of.readlines()
    return conteudo
  
  ##def _nome_das_colunas(self):
    ##return  self.conteudo[0].strip().split(",")

  def extraindo_conteudo(self, indice : str):
    coluna = []
    for linha in self.conteudo:
      conteudo_linha = linha.strip().split(",")
      coluna.append(conteudo_linha[indice])
    print(coluna)

In [ ]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco.csv

In [ ]:
arquivo = ArquivoCSV("banco.csv")

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,307,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes']

In [ ]:
arquivo.extraindo_conteudo(3)

['education', 'primary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'primary']